h1#answer-hub-title {
	padding: 15px;

	color: white;
	background-color: black;
	
	font-family: arial, helvetica, sans-serif;
	letter-spacing: 0.1em;
	
	border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: green;
}

h1#answer-hub-title a {
	color: white;
}

h1#answer-hub-title a:hover {
	color: white;
}

body {
	padding: 20px;
}